/**
 * Styles for the admin front-end
 *
 * This file contains CSS.
 *
 * @package     wpdtrt_blocks
 * @since       1.0.0
 */
/**
 * Variables
 *
 * @package     wpdtrt_blocks
 * @since       1.0.0
 */
/**
 * SCSS @extends
 *
 * @package     wpdtrt_blocks
 * @since       1.0.0
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clear::after, .wpdtrt-blocks-items::after {
  content: "";
  display: block;
  clear: both;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-sharpen {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpdtrt-blocks-version {
  color: #c7c7c7;
  font-size: 90%;
}

.wpdtrt-blocks-items ul,
.wpdtrt-blocks-items li {
  float: left;
}

.wpdtrt-blocks-items li {
  position: relative;
  margin: 0 8px 8px 0;
  margin: 0 0.5rem 0.5rem 0;
  height: 150px;
  width: 150px;
  counter-reset: blocks;
}

.wpdtrt-blocks-items li img {
  width: 150px;
  height: 150px;
}

.wpdtrt-blocks-items li::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #000;
  counter-increment: blocks;
  content: counter(blocks);
  padding: 8px;
  padding: 0.5rem;
}

.wpdtrt-blocks-date {
  font-size: .95em;
}

.widget .wpdtrt-blocks-tip {
  display: block;
  padding-top: 4px;
  padding-top: 0.25rem;
}
