//
// Styles for the WP Admin plugin options page
//
// @package     WPDTRT_Blocks
// @version 	0.0.1
// @since       0.7.6 DTRT WordPress Plugin Boilerplate Generator
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/backend';
@import 'variables';
@import 'extends';

.wpdtrt-blocks-items {
    @extend .clear;

    ul,
    li {
        float: left;
    }

    ul {
        // numbering
        counter-reset: blocks;
    }

    li {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 8px 8px 0;

        img {
            width: 150px;
            height: 150px;
        }

        &::before {
            content: counter(blocks);
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            color: #fff;
            padding: 8px;
            counter-increment: blocks;
        }
    }
}
