/**
 * Styles for the admin front-end
 *
 * @package     wpdtrt_blocks
 * @since       1.0.0
 */

@import "vendor/dotherightthing/wpdtrt-plugin/scss/_variables.scss";
@import "vendor/dotherightthing/wpdtrt-plugin/scss/_extends.scss";
@import "vendor/dotherightthing/wpdtrt-plugin/scss/_backend.scss";

.wpdtrt-blocks-items {
  @extend .clear;

  ul,
  li {
    float: left;
  }

  li {
    position: relative;
    margin: 0 8px 8px 0;
    height: 150px;
    width: 150px;

    img {
      width: 150px;
      height: 150px;
    }

    // numbering
    counter-reset: blocks;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      background-color: #000;
      counter-increment: blocks;
      content: counter(blocks);
      padding: 8px;
    }
  }
}
