//
// Styles for the public front-end
//
// @package     WPDTRT_Blocks
// @version 	  0.0.1
// @since       0.7. DTRT WordPress Plugin Boilerplate Generator
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

.wpdtrt-blocks-items {
  @extend %wpdtrt-plugin-boilerplate--clear;

  background-color: $wpdtrt-blocks-bg-color;
  color: $wpdtrt-blocks-text-color;
  font-weight: bold;
  font-size: .9em;
  padding: 8px 0 0 8px;
  margin-bottom: 8px;

  ul,
  li {
    list-style: none;
  }

  li {
    position: relative;
    float: left;
    margin: 0 8px 8px 0;
    height: 150px;
    width: 150px;

    img {
      width: 150px;
      height: 150px;
    }

    // enlargement = "1"

    > a::before {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $wpdtrt-blocks-icon-color;
      background-color: $wpdtrt-blocks-icon-bg-color;
      content: "+";
      padding: 8px;
    }
  }
}

// -------------------------------------------------------------------
// Media Queries
// -------------------------------------------------------------------
