//
// Styles for the public front-end
//
// @package     WPDTRT_Blocks
// @version 	  0.0.1
// @since       0.7. DTRT WordPress Plugin Boilerplate Generator
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

.wpdtrt-blocks-items {
    @extend %wpdtrt-plugin-boilerplate--clear;

    background-color: $wpdtrt-blocks-bg-color;
    color: $wpdtrt-blocks-text-color;
    font-size: .9em;
    font-weight: bold;
    padding: 8px 0 0 8px;
    margin-bottom: 8px;

    ul,
    li {
        list-style: none;
    }

    li {
        position: relative;
        float: left;
        width: 150px;
        height: 150px;
        margin: 0 8px 8px 0;

        img {
            width: 150px;
            height: 150px;
        }

        // enlargement = "1"

        > a::before {
            content: '+';
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $wpdtrt-blocks-icon-bg-color;
            color: $wpdtrt-blocks-icon-color;
            padding: 8px;
        }
    }
}

// -------------------------------------------------------------------
// Media Queries
// -------------------------------------------------------------------
