/**
 * Styles for the admin front-end
 *
 * This file contains CSS.
 *
 * @package     wpdtrt_blocks
 * @since       1.0.0
 */

@import "wpdtrt-blocks-variables";
@import "wpdtrt-blocks-extends";

.wpdtrt-blocks-version {
	// copied from dashboard-widgets-suite plugin
	color: #c7c7c7;
  font-size: 90%;
}

.wpdtrt-blocks-items {
  @extend .clear;

  ul,
  li {
    float: left;
  }

  li {
    position: relative;
    margin: 0 8px 8px 0;
    height: 150px;
    width: 150px;

    img {
      width: 150px;
      height: 150px;
    }

    // numbering
    counter-reset: blocks;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      background-color: #000;
      counter-increment: blocks;
      content: counter(blocks);
      padding: 8px;
    }
  }
}

.wpdtrt-blocks-date {
  font-size: .95em;
}

.widget {
  .wpdtrt-blocks-tip {
    display: block;
    padding-top: 4px;
  }
}
